body
{
  margin: 0;
}

li{: none;
}

.m-bg {
  position: absolute;
width: 1063px;
height: 544px;
background: url('../img/bk.jpg');
opacity: .4;
}

.m-hs {
margin-left: 600px;
margin-top: 200px;
width: 100px;
height: 100px;
tupian: url('../img/hs.jpg');

}

.m-main1{
  float: left;
  width: 500px;
  margin-left: 17px;
  height: 100%;
}
.m-main2{
  float: right;
  width: 700px;
  height: 100%;
}
.m-main3{
  float: middle;
  width: 700px;
  height: 100%;
}

.m-menu {
    font-size: 13px;
    padding: 14px 65px;
    color: #666;
    letter-spacing: 0.3px;
  }

.m-item_name+.m-item_name{
  margin-left: 19px;
}

.m-1 {
    margin-bottom: -21px;
    font-size: 12px;
    padding: 23px 17px;
    color: #666;
    letter-spacing: 0.6;
}

.m-2 {
    font-size: 20px;
    padding: 0px 17px;
    color: #666;
    letter-spacing: 0.1;
}

.m-3 {
    font-size: 13px;
    padding: 4px 17px;
    color: #666;
    letter-spacing: 0.3;
}
.m-4 {
    margin-bottom: -21px;
    font-size: 12px;
    padding: 11px 16px;
    color: #666;
    letter-spacing: 0;
}

.m-5 {
    font-size: 11px;
    padding: 14px 17px;
    color: #666;
    letter-spacing: 1;
}

.m-6 {
    margin-bottom: -40px;
    font-size: 12px;
    padding: 36px 17px;
    color: #666;
    letter-spacing: 0.5;
}

.m-7 {
    font-size: 20px;
    padding: 6px 17px;
    color: #666;
    margin-bottom: -21px;
}

.m-8 {
    font-size: 13px;
    margin-bottom: -40px;
    padding: 19px 17px;
    color: #666;
    letter-spacing: 0.2;
}

.m-9 {
    font-size: 12px;
    margin-bottom: -40px;
    padding: 37px 17px;
    color: #666;
    letter-spacing: 0.5;
}

.m-10 {
    margin-bottom: -40px;
    font-size: 13px;
    padding: 6px 15px;
    color: #666;
    letter-spacing: 0.4;
}

.m-11 {
    margin-bottom: -80px;
    font-size: 12px;
    padding: 82px 17px;
    color: #666;
    letter-spacing: 0.5;
}

.m-12 {
    margin-bottom: -40px;
    font-size: 20px;
    padding: 0px 17px;
    color: #666;
    letter-spacing: 0.4;
}

.m-13 {
    margin-bottom: -40px;
    font-size: 13px;
    padding: 43px 17px;
    color: #666;
    letter-spacing: 0.1;
}

.m-14 {
    margin-bottom: -40px;
    font-size: 12px;
    padding: 14px 17px;
    color: #666;
    letter-spacing: 0.1;
}

.m-15 {
    margin-bottom: -40px;
    font-size: 12px;
    padding: 29px 17px;
    color: #666;
    letter-spacing: 0.6;
}

.m2-1 {
    margin-bottom: -40px;
    font-size: 20;
    padding: 53px 30px;
    color: #666;
}

.m2-2 {
    margin-bottom: -80px;
    width: 30px;
    font-size: 26px;
    padding: 34px 30px;
    color: #666;
}

.m2-3 {
    margin-bottom: -40px;
    font-size: 14px;
    width: 220px;
    padding: 13px 76px;
    color: #666;
    letter-spacing: 0.6;
}

.m2-4 {
    margin-bottom: -40px;
    font-size: 12px;
    padding: 34px 76px;
    color: #666;
    letter-spacing: 0.3;
}

.m2-5 {
    margin-bottom: -40px;
    font-size: 13px;
    padding: 8px 75px;
    color: #666;
    letter-spacing: 0.3;
}

.m2-6 {
    margin-bottom: -100px;
    width: 30px;
    font-size: 26px;
    padding: 52px 30px;
    color: #666;
}

.m2-7 {
    margin-bottom: -40px;
    font-size: 14px;
    width: 220px;
    padding: 17px 76px;
    color: #666;
    letter-spacing: 0.4px;
}

.m2-8 {
    margin-bottom: -40px;
    font-size: 13px;
    width: 180px;
    padding: 28px 76px;
    color: #666;
    letter-spacing: 0.1;
}

.m2-9 {
    margin-bottom: -40px;
    font-size: 13px;
    padding: 14px 76px;
    color: #666;
}

.m2-10 {
    margin-bottom: -100px;
    width: 30px;
    font-size: 26px;
    padding: 47px 30px;
    color: #666;
}

.m2-11 {
    margin-bottom: -40px;
    font-size: 14px;
    width: 240px;
    padding: 21px 77px;
    color: #666;
    letter-spacing: 0.4px;
}

.m2-12 {
    margin-bottom: -40px;
    font-size: 12px;
    width: 180px;
    padding: 25px 77px;
    color: #666;
    letter-spacing: 0.2px;
}

.m2-13 {
    margin-bottom: -40px;
    font-size: 12px;
    padding: 19px 78px;
    color: #666;
}

.m3-1 {
    margin-left: 537px;
    margin-top: 22px;
    width: 133px;
    height: 104px;
    background-color: black;
    padding: 10px 10px;
}

.m3-2 {
    margin-left: 537px;
    margin-top: 48px;
    width: 133px;
    height: 104px;
    background-color: black;
    padding: 10px 10px;
}

.m3-3 {
    margin-left: 537px;
    margin-top: 44px;
    width: 133px;
    height: 104px;
    background-color: black;
    padding: 10px 10px;
}